# Gradle
.gradle/
build/
**/build/
local.properties

# Android Studio
.idea/
*.iml
*.iws
*.ipr
captures/
.externalNativeBuild/
.cxx/

# Kotlin incremental
.kotlin/

# macOS
.DS_Store

# Windows
Thumbs.db
